<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="Conexion_DB" connectionString="Data Source=LAPTOP-9L4UD3RT\SQLEXPRESS;Initial Catalog=DB_Sistema_De_Venta;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Presentacion.Properties.Settings.DB_Sistema_De_VentaConnectionString"
   connectionString="Data Source=LAPTOP-9L4UD3RT\SQLEXPRESS;Initial Catalog=DB_Sistema_De_Venta;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>